<!DOCTYPE html>
<html lang="en" ng-app="simplegalApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="src/style.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="src/simplegal.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="galCtrl">
      <h1>simplegal</h1>
      <form name="inputForm">
	<button class="hidden" ng-click="updatePage()" />
	<button ng-click="changeDate(-1)">&lt;</button>
	<input name="date" type="date" ng-model="date" placeholder="yyyy-MM-dd" min="2014-01-01" max="2018-12-31" required />
	<button ng-click="changeDate(+1)">&gt;</button>
      </form>
      <img ng-src="{{image}}" err-src="404.jpeg">
    </div>
  </body>
</html>
