div.container {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

button.hidden {
    display: none;
}

input {
    width: 10em;
}

img {
    display: block;
    margin: auto;
    max-height: 600px;
    max-width: 800px;
    padding: 10px;
}